<!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Raleigh &amp; Such</h2>
                <p>This site is a place for us to share our lives with family and friends. Our hope is that through the site we will be able to make memories together though we are far away. Feel free to explore the pages below: Timeline, Blog and Photo Album.</p>
                <!-- <a href="#timeline" class="btn btn-circle page-scroll"> -->

                <%= (link_to 'Timeline', main_timeline_path {s="btn btn-circle page-scroll"}) %>

                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </section>