<!-- Home Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Raleigh &amp; Such</h1>
                        <p class="intro-text">A collection of life moments and memories brought to you by Brandon and Anna.</p>
                       <!--  <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Raleigh &amp; Such</h2>
                <p>This site is a place for us to share our lives with family and friends. Our hope is that through the site we will be able to make memories together though we are far away. Feel free to explore the pages below: Timeline, Blog and Photo Album.</p>
                <!-- <a href="#timeline" class="btn btn-circle page-scroll"> -->

                <!-- <a href="#timeline" class="btn btn-circle page-scroll">

                    <i class="fa fa-angle-double-down animated"></i>
                </a> -->
            </div>
        </div>
    </section>

    <!--Timeline Section-->
    <section id="timeline" class="content-section text-center">
        <div class="download-section">
            <div class="container"> 
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Timeline</h2>
                    <p>The timeline is a way to look backand recap our journey thus far. The blog begins where the timeline ends.</p>
                    
                    <a href="timeline.html" class="btn btn-default btn-lg">View Timeline</a>
                </div>
            </div>
        </div>
    </section> 

    <!--Blog Section-->
    <section id='intro-blog' class="intro-blog"> 
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Blog</h1>
                        <p class="intro-text">The blog is a place for sharing life through words and images with those we love.</p>
                        <!-- <a href="#photo-album" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a> -->

                        <%= link_to 'View Blog', posts_path, class: 'btn btn-default btn-lg' %>
                        
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <!-- Photo Album Section -->
    <section id="photo-album" class="content-section text-center">
        <div class="album-section download-section">
            <!--  <div class="album-section"> -->
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Photo Album</h2>
                    <p>The photo album is a place for you to view our photos from the timeline or blog. Please feel free to download images or leave a comment for us.</p>
                    
                    <%= link_to 'View Photo Album', 'main/photo_album', class: 'btn btn-default btn-lg' %> 
                   <!-- <a href="photo-album" class="btn btn-default btn-lg">View Photo Album</a> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Brandon &amp; Anna</p>
                <p><a href="mailto:919-307-4233">(919) 307.4233</a>
                <p><a href="mailto:baumx2@gmail.com">baumx2@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/bbaum_/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>