<!-- Photo Album Section -->
<section id="photo-album" class="content-section text-center">
        <div class="album-section download-section">
        <!--  <div class="album-section"> -->
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Photo Album</h2>
                    <p>The photo album is a place for you to view our photos from the timeline or blog. Please feel free to download images or leave a comment for us.</p>
                    <a href="photo_album.html" class="btn btn-default btn-lg">View Photo Album</a>
                </div>
            </div>
        </div>
    </section>