 <!--Timeline Section-->
    <section id="timeline" class="content-section text-center">
        <div class="download-section">
            <div class="container"> 
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Timeline</h2>
                    <p>The timeline is a way to look backand recap our journey thus far. The blog begins where the timeline ends.</p>
                    <a href="timeline.html" class="btn btn-default btn-lg">View Timeline</a>
                </div>
            </div>
        </div>
    </section> 